html, body {
    margin:0;
    padding:0;
    min-height:100%;
}

#error, #success {
    position: absolute;
    left:0;
    bottom: 0;
    margin: 0 0 20px 20px;
    max-width: 200px;
    display: none;
}

.full-width {
    width:100%;
}

.back-holder {
    width:100%;
    height:100%;
    background-image: url("../img/login-bck.jpg");
}

.transparent-cover {
    background-color:rgba(70, 69, 71, 0.7);
    width:100%;
    height:100%;
}

.form-container {
    position:absolute;
    width:330px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.screen-content {
    width:100%;
    min-height:100%;
}

.sidebar {
    width:230px;
    height:100%;
    display:inline-block;
    position:relative;
    background-color:#464547;
}

.user-info {
    margin: 10px 0 10px 0;
    display:block;
    position:relative;
    height:150px;
    text-align:center;
    border-bottom:2px dashed #FFF;
}

.sidebar-avatar {
    width:200px;
    margin:0 auto;
    vertical-align:top;
}

.sidebar-avatar img {
    width:100px;
    height:100px;
    border-radius:50%;
}

.sidebar-personal h4 {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    font-weight:bold;
    color: #A3C644;
}

.menu-holder {
    position:relative;
    display:block;
}

.menu ul {
    list-style-type: none;
    margin-left:-35px;
}

.menu ul li {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    cursor:pointer;
    padding:5px;
    color:#A3C644;
    font-weight:bold;
}

.menu ul li:hover, .menu ul li.active {
    background: #666;
    border-radius:4px;
}

.admin-content {
    display:inline-block;
    width: calc(100% - 230px - 55px);
    margin-left:40px;
    vertical-align:top;
}

.data {
    display:block;
    margin-top: 10px;
}

.options {
    display:block;
    margin: 10px 0 10px 0;
}
